a:-webkit-any-link {
    color: white;
    
}


footer{
    padding: 3rem 0;
    background-color: #232F3E;
    color: white;
}
.footer__line{
    width: 100%;
    border-top: 1px solid white;
    margin-top: 40px;
}
footer li{
    list-style: none;
    
    font-weight: lighter;
    
}
